body {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', serif;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
    margin: 0;
    font-weight: 500;
}
div, p, form, input, a, span, button {
	box-sizing: border-box;
}	
p {
    margin: 0;
    padding: 0;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
a, a:hover, a:active {
    text-decoration: none;
}
a {
    transition: all 0.5s ease;
}
a, a:hover, a:active, a:focus, input, input:hover, input:focus, button, button:hover, button:focus{
	outline: none;
	text-decoration: none;
}
.white-title{
    color: #fff;
}
.black-title{
    color: #000;
}
.btn{
    height: 33px;
    width: 93px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0;
}
/* Header */ 
.header{
    /*background:  #000;*/
    background-image: url('../assets/header_bkg.png');
    background-repeat: no-repeat;
    padding: 30px 0 158px 0;
    position: relative;
}
.header::after{
    position: absolute;
    display: block;
    content: '';
    height: 187px;
    width: 80px;
    background-image: url('../assets/header-elips.png');
    background-repeat: no-repeat;
    margin-top: -147px;
}
.menu__item a{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    display: block;
    border-top: 1px solid #000;
}
.menu__item a:hover{
    border-top: 1px solid #fff;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.offer{
    margin: 335px 0 318px;
    display: flex;
    flex-direction: column;
}
.offer__title{
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -0.028em;
}
.offer__text{
    color: #fff;
    font-size: 16px;
    line-height: 1.8em;
    width: 500px;
    text-align: center;
    margin: 25px 0 32px;
}
.offer__btns{
    margin-left: -55px;
    align-self: center;
}
.offer__cv{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.woman{
    margin-top: 100px;
}
.card{
    width: 100%;
    padding: 55px 0 0 50px;
    height: 265px;
}
.card__title{
    font-size: 20px;
    font-weight: 500;
}
.card__text{
    font-size: 16px;
    color: #676767;
    width: 93%;
    margin-bottom: 17px;
    margin-top: 22px;
    line-height: 1.6em;
}
.card__more{
    font-size: 13px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}
/*Header  END   */


/*  About  */
.about{
    padding-top: 104px;
    height: 640px;
    background: linear-gradient(to right, #000 34.5%, #fff 0%);
}
.skills{
    background: #fff;
    padding: 46px 52px 23px 40px;
    width: 108%;
}
.skills__list{
    margin-top: 31px;
}
.skill__content{
    display: flex;
    justify-content: space-between;
}
.skills__item{
    font-weight: 500;
    margin-bottom: 40px;
}
.skills__title{
    font-size: 24px;
}
.skill__name{
    font-size: 16px;
    line-height: 1.4em;
}
.skill__percent{
    font-size: 12px;
    display: block;
    margin-top: -12px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #f7f7f7;
    text-align: center;
    padding: 7px 0 0;
}
.skill__line{
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #f7f7f7;
    margin-top: 5px;
    position: relative;
}
.skill__line_html{
    position: absolute;
    width: 65%;
    background: #9d9d9d;
}
.skill__line_css{
    position: absolute;
    width: 72%;
    background: #9d9d9d;
}
.skill__line_js{
    position: absolute;
    width: 78%;
    background: #9d9d9d;
}
.skill__line_ajax{
    position: absolute;
    width: 70%;
    background: #9d9d9d;
}
.skill__line_ui{
    position: absolute;
    width: 74%;
    background: #9d9d9d;
}
.different{
    margin-top: 64px;
}
.different__title{
    font-size: 30px;
}
/*  About END   */